{% extends '../layouts/content.html' %}

{% block content %}

    <div class="container">
        <div class="card">
            <figure>
                <img src="img/Prestamos.jpg">
            </figure>
            <div class="contenido">
                <h3>Prestamos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed voluptate ipsa sit nam voluptatem neque, fugiat minima magni quasi omnis unde dolore consequatur commodi aut vitae veniam autem! Blanditiis!</p>
                <a href="#">Leer Màs</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="img/Devoluciones.jpg">
            </figure>
            <div class="contenido">
                <h3>Devoluciones</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed voluptate ipsa sit nam voluptatem neque, fugiat minima magni quasi omnis unde dolore consequatur commodi aut vitae veniam autem! Blanditiis!</p>
                <a href="#">Leer Màs</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="img/Inventario.jpg">
            </figure>
            <div class="contenido">
                <h3>Inventario</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed voluptate ipsa sit nam voluptatem neque, fugiat minima magni quasi omnis unde dolore consequatur commodi aut vitae veniam autem! Blanditiis!</p>
                <a href="#">Leer Màs</a>
            </div>
        </div>
    </div>
    
{% endblock %}